<li class="photolistitem cover_image">
  <div class="imagecontainer"><%= link_to image_tag(image.attachment_url(:thumb)), image if image.attachment? %></div>
  <div><span id="3296293" class="3296293">(คลิกเพื่อใส่ชื่อภาพ)</span></div>

  <div class="photolistbtn" id="photolistbtn_3296293" style="left: 0; margin-left: 0; padding-left: 0; clear: both">
    <div class="btnsmall" style="margin-left:10px">
      <a href="/ex_edit_listing/596878/media?process=5078fd989116e&amp;deletemedia=3296293" onclick="javascript:return confirm('ลบรูปภาพนี้?')">ลบ</a>
    </div>
    <div class="btnsmallEnding"></div>
    <b class="cover_image" style="margin-left:5px;">ภาพหน้าปกประกาศ</b>
  </div>
</li>