

<%= render :partial => 'shared/head', :locals => { :current => 'home' } %>
<%= render "shared/logo" %>

<div id="all-main-content">
  <div id="intro-project-direc-sub">
    <div class="head-intro-direc-sub">
      <div class="head-home">
        <h1>เว็บอสังหาฯ อันดับ 1 ของเมืองไทย</h1>
        <div class="navi">
          เว็บอสังหาฯ อันดับ 1 ของเมืองไทย &lt; หน้าหลัก
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div id="category">
    <div class="category-all" style="margin:-15px 0 0 0;">
      <div class="allteb-agent">
        <div class="category-content3">
          <table width="925" border="0" cellpadding="0" cellspacing="0" style="margin:0 0 0 15px; padding:15px;">
            <tbody><tr>
              <td width="438" valign="top"><%= image_tag "Agents-featured-listings_03.jpg" %></td>
              <td valign="top" style="padding:0 010px 0;">
                <div class="headbox-free3" style="width:450px; margin:20px 0 0 0;"> ประกาศ Exclusive (อสังหาฯ แนะนำ)</div>
                <div class="headbox-free4" style="width:450px;  margin:-10px 0 0 0;">อัพเกรดเป็นประกาศอสังหาฯแนะนำ</div>
                <div class="position_profile" style="width:450px;  margin:10px 0 0 0;"><strong>โฆษณาอสังหาฯแนะนำกับเวป Siamliving.com คนดูประกาศ<br>
                  เพิ่มกว่า 10 เท่าช่วยให้คุณขายอสังหาฯของคุณได้เร็วขึ้น</strong></div>
                <div class="content-agent2">
                  <ul>
                    <li>40,000 visitors a day</li>
                    <li>10,000,000 page views a monthมีผู้ต้องการขาย/ให้เช่ากว่า 145,000 </li>
                    <li>รายทั่วประเทศไทยที่ลงโฆษณากับเรา</li>
                  </ul>
                </div>
                <div class="clear"></div>
                <div class="headbox-free3" style="width:450px;  margin:20px 0 0 0;">โทร (66) 02-352-4888</div>
                <div class="headbox-free4" style="width:450px;  margin:-10px 0 0 0;">เพื่อจองพื้นที่โฆษณาก่อนใคร</div>
              </td>
            </tr>
            </tbody></table>
          <table width="925" border="0" cellpadding="0" cellspacing="0" style="margin:0 0 0 15px;">
            <tbody><tr>
              <td bgcolor="#e5e5e5" style="padding:15px;">
                <p class="position_profile"><strong>ชำระค่าสมาชิกโดยการโอนเงิน</strong></p>
                <p class="position_profile">ชื่อบัญชี: บริษัท ออลพร็อพเพอร์ตี้ มีเดีย จำกัด
                  ประเภทบัญชี: ออมทรัพย์</p>
                <table width="895" border="0" cellspacing="1" cellpadding="0" style="margin:20px 0 0 0; background-color:#FFF;">
                  <tbody><tr style="background-color:#FFF;">
                    <td height="30" align="center" bgcolor="#999999" class="position_profile3">ธนาคาร</td>
                    <td height="30" align="center" bgcolor="#999999" class="position_profile3">สาขา</td>
                    <td height="30" align="center" bgcolor="#999999" class="position_profile3">เลขที่บัญชี</td>
                  </tr>
                  <tr>
                    <td height="30" align="center" bgcolor="#FFFFFF" class="position_profile">ธนาคารไทยพาณิชย์</td>
                    <td align="center" bgcolor="#FFFFFF" class="position_profile">สาขาอาคารธนิยะ (สีลม)</td>
                    <td align="center" bgcolor="#FFFFFF" class="position_profile">209-207473-2</td>
                  </tr>
                  <tr>
                    <td height="30" align="center" bgcolor="#FFFFFF" class="position_profile">ธนาคารกสิกรไทย</td>
                    <td align="center" bgcolor="#FFFFFF" class="position_profile">สาขาถนนคอนแวนต์(ลิเบอร์ตี้สแควร์)</td>
                    <td align="center" bgcolor="#FFFFFF" class="position_profile">889-2-01824-4</td>
                  </tr>
                  </tbody></table></td>
            </tr>
            </tbody></table>

        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>