<ul id="tabs" class="nav nav-tabs">
  <li <%== ' class="active"' if current == 'User Details' %>>
    <%= link_to "บัญชี", "" %>
  </li>
  <li <%== ' class="active"' if current == 'User Profile' %>>
    <a href="#">ข้อมูลแสดงต่อสาธารณะ</a>
  </li>
  <li <%== ' class="active"' if current == 'Notification' %>>
    <a href="#">การรับข่าวสาร</a>
  </li>
</ul>