
<%= render :partial => 'shared/head', :locals => { :current => 'home' } %>
<%= render "shared/logo" %>

<div id="all-main-content">
<div id="intro-project-direc-sub">
  <div class="head-intro-direc-sub">
    <div class="head-home">
      <h1>ตัวแทนอสังหาฯ</h1>
      <div class="navi">
        รายละเอียด &lt; คู่มือซื้อขาย &lt; หน้าหลัก
      </div>
      <div class="clear"></div>
    </div>
    <div class="image-banner">
      <%= image_tag "intro-condo4.png" %>

    </div>
  </div>
  <div class="clear"></div>
</div>
<div id="category">
  <div class="category-left">
    <div class="category-tab01"><p><a href="#">ประกาศตามทำเลในกรุงเทพมหานคร</a></p></div>
    <div style="width:1px; height:27px; float:left;"></div>
    <div class="category-tab02"><p><a href="#">ทำเลเด่นในพื้นที่ประเทศไทย</a></p></div>
    <div class="category-content">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td><table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="padding:15px 0 0 0;">
            <tbody><tr>
              <td align="center"><table width="130" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                  <td width="130" bgcolor="#DDDDDD"><img src="../images/06-Agent-Directory_03.jpg" width="133" height="119"></td>
                </tr>
                <tr>
                  <td height="25" align="center" bgcolor="#DDDDDD" class="text-recom-2" style="padding:5px;"><a href="#">ชวลิต คงศักดิ์ไพบูลย์
                    บริษัท อีอาร์เอ พร็อพเ...</a></td>
                </tr>
                </tbody></table></td>
              <td align="center"><table width="130" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                  <td width="130" bgcolor="#DDDDDD"><img src="../images/06-Agent-Directory_05.png" width="133" height="119"></td>
                </tr>
                <tr>
                  <td height="25" align="center" bgcolor="#DDDDDD" style="padding:5px;"><span class="text-recom-2"><a href="#">ชวลิต คงศักดิ์ไพบูลย์
                    บริษัท อีอาร์เอ พร็อพเ...</a></span></td>
                </tr>
                </tbody></table></td>
              <td align="center"><table width="130" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                  <td width="130" bgcolor="#DDDDDD"><img src="../images/06-Agent-Directory_07.png" width="133" height="119"></td>
                </tr>
                <tr>
                  <td height="25" align="center" bgcolor="#DDDDDD" style="padding:5px;"><span class="text-recom-2"><a href="#">ชวลิต คงศักดิ์ไพบูลย์
                    บริษัท อีอาร์เอ พร็อพเ...</a></span></td>
                </tr>
                </tbody></table></td>
              <td align="center"><table width="130" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                  <td width="130" bgcolor="#DDDDDD"><img src="../images/06-Agent-Directory_09.png" width="133" height="119"></td>
                </tr>
                <tr>
                  <td height="25" align="center" bgcolor="#DDDDDD" style="padding:5px;"><span class="text-recom-2"><a href="#">ชวลิต คงศักดิ์ไพบูลย์
                    บริษัท อีอาร์เอ พร็อพเ...</a></span></td>
                </tr>
                </tbody></table></td>
            </tr>
            </tbody></table>
            <table width="80" border="0" align="center" cellpadding="0" cellspacing="0" style="padding:10px 0 0 0;">
              <tbody><tr>
                <td align="center"><img src="../images/select01.png" width="10" height="10"></td>
                <td align="center"><img src="../images/select02.png" width="10" height="10"></td>
                <td align="center"><img src="../images/select02.png" width="10" height="10"></td>
                <td align="center"><img src="../images/select02.png" width="10" height="10"></td>
                <td align="center"><img src="../images/select02.png" width="10" height="10"></td>
              </tr>
              </tbody></table>
            <div style="width:93%; height:1px; background-color:#c4c4c4; margin:10px 0 10px 20px;"></div>
            <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:0 0 15px 22px;">
              <tbody><tr>
                <td width="25"><img src="../images/icon-intro.png" width="16" height="16"></td>
                <td class="text-list-agent">ลักษณะพิเศษ</td>
              </tr>
              </tbody></table>
            <table width="599" border="0" align="center" cellpadding="0" cellspacing="0">
              <tbody><tr>
                <td><div class="list-agent">ผู้เชี่ยวชาญด้านคอนโด</div></td>
                <td><div class="list-agent">ผู้เชี่ยวชาญด้านคอนโด</div></td>
              </tr>
              <tr>
                <td><div class="list-agent">ผู้เชี่ยวชาญด้านคอนโด</div></td>
                <td><div class="list-agent">ผู้เชี่ยวชาญด้านคอนโด</div></td>
              </tr>
              <tr>
                <td><div class="list-agent">ผู้เชี่ยวชาญด้านคอนโด</div></td>
                <td><div class="list-agent">ผู้เชี่ยวชาญด้านคอนโด</div></td>
              </tr>
              <tr>
                <td><div class="list-agent">ผู้เชี่ยวชาญด้านคอนโด</div></td>
                <td><div class="list-agent">ผู้เชี่ยวชาญด้านคอนโด</div></td>
              </tr>
              </tbody></table></td>
        </tr>
        </tbody></table>
    </div>
  </div>
  <div class="category-right">
    <img src="../images/web-banner02.jpg" width="300" height="127" style="margin:0 0 15px 0;">
    <div class="general-search">
      <div class="general-bar">
        <img src="../images/ss.png" width="16" height="16" class="icon-bar">
        <p>เครื่องมือลัดการคำนวน</p>
      </div>
      <table width="255" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:15px;">
        <tbody><tr>
          <td height="20" align="left" class="text-recom-3">ประเภทของเครื่องมือลัดการคำนวน</td>
        </tr>
        <tr>
          <td align="left"><input name="textfield2" type="text" class="textbox-search" id="textfield2"></td>
        </tr>
        <tr>
          <td height="20" align="left" class="text-recom-3">รายได้สุทธิ (฿):</td>
        </tr>
        <tr>
          <td align="left" style="width:250px; height:30px; background-color:#f8f8f8;"><select name="select3" id="select3" class="textbox-search">
          </select></td>
        </tr>
        <tr>
          <td height="20" align="left" class="text-recom-3">อัตราดอกเบี้ยต่อปี (%):</td>
        </tr>
        <tr>
          <td align="left"><select name="select4" id="select4" class="textbox-search">
          </select></td>
        </tr>
        <tr>
          <td height="20" align="left" class="text-recom-3">ระบุระยะเวลา (กู้) :</td>
        </tr>
        <tr>
          <td align="left"><select name="select5" id="select5" class="textbox-search">
          </select></td>
        </tr>
        <tr>
          <td align="left" style="padding:15px 0 0 0;"><img src="../images/04-News_15.png" width="78" height="26"></td>
        </tr>
        </tbody></table>

    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
<div id="general-content">
<div class="general-bar">
  <img class="icon-bar" src="../images/icon-intro.png" width="16" height="16">
  <p>ประเภทของคู่มือซื้อขาย</p>
  <img class="general-more" src="../images/icon-all.png" width="53" height="19">
</div>
<div class="clear"></div>
<div class="list-resource">
  <div class="list-resource-bar">
    <p class="list-resource-text">ผู้เชี่ยวชาญด้านคอนโด</p>
  </div>
  <div class="list-re-bar">
    <table width="200" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0 0 0;">
      <tbody><tr>
        <td width="60"><img src="../images/06-Agent-Directory_19.jpg" width="52" height="50"></td>
        <td valign="top"><p class="text-calen-head">ปุญวัจน์ ปุณธนวิรโรจน์</p>
          <p class="text-recom-5"><strong>Home Expert</strong></p>
          <p class="text-recom-5">นายหน้าอิสระ</p>
          <p class="tell_onlist">โทร 0897175153</p></td>
      </tr>
      </tbody></table>
    <table width="200" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0 0 0;">
      <tbody><tr>
        <td width="60"><img src="../images/06-Agent-Directory_19.jpg" width="52" height="50"></td>
        <td valign="top"><p class="text-calen-head">ปุญวัจน์ ปุณธนวิรโรจน์</p>
          <p class="text-recom-5"><strong>Home Expert</strong></p>
          <p class="text-recom-5">นายหน้าอิสระ</p>
          <p class="tell_onlist">โทร 0897175153</p></td>
      </tr>
      </tbody></table>
    <table width="200" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0 0 0;">
      <tbody><tr>
        <td width="60"><img src="../images/06-Agent-Directory_19.jpg" width="52" height="50"></td>
        <td valign="top"><p class="text-calen-head">ปุญวัจน์ ปุณธนวิรโรจน์</p>
          <p class="text-recom-5"><strong>Home Expert</strong></p>
          <p class="text-recom-5">นายหน้าอิสระ</p>
          <p class="tell_onlist">โทร 0897175153</p></td>
      </tr>
      </tbody></table>
    <div class="list-more"> <img src="../images/05-Resources_07.png" width="39" height="11">
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="list-resource">
  <div class="list-resource-bar">
    <p class="list-resource-text">ผู้เชี่ยวชาญด้านคอนโด</p>
  </div>
  <div class="list-re-bar">
    <table width="200" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0 0 0;">
      <tbody><tr>
        <td width="60"><img src="../images/06-Agent-Directory_19.jpg" width="52" height="50"></td>
        <td valign="top"><p class="text-calen-head">ปุญวัจน์ ปุณธนวิรโรจน์</p>
          <p class="text-recom-5"><strong>Home Expert</strong></p>
          <p class="text-recom-5">นายหน้าอิสระ</p>
          <p class="tell_onlist">โทร 0897175153</p></td>
      </tr>
      </tbody></table>
    <table width="200" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0 0 0;">
      <tbody><tr>
        <td width="60"><img src="../images/06-Agent-Directory_19.jpg" width="52" height="50"></td>
        <td valign="top"><p class="text-calen-head">ปุญวัจน์ ปุณธนวิรโรจน์</p>
          <p class="text-recom-5"><strong>Home Expert</strong></p>
          <p class="text-recom-5">นายหน้าอิสระ</p>
          <p class="tell_onlist">โทร 0897175153</p></td>
      </tr>
      </tbody></table>
    <table width="200" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0 0 0;">
      <tbody><tr>
        <td width="60"><img src="../images/06-Agent-Directory_19.jpg" width="52" height="50"></td>
        <td valign="top"><p class="text-calen-head">ปุญวัจน์ ปุณธนวิรโรจน์</p>
          <p class="text-recom-5"><strong>Home Expert</strong></p>
          <p class="text-recom-5">นายหน้าอิสระ</p>
          <p class="tell_onlist">โทร 0897175153</p></td>
      </tr>
      </tbody></table>
    <div class="list-more"> <img src="../images/05-Resources_07.png" width="39" height="11">
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="list-resource">
  <div class="list-resource-bar">
    <p class="list-resource-text">ผู้เชี่ยวชาญด้านคอนโด</p>
  </div>
  <div class="list-re-bar">
    <table width="200" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0 0 0;">
      <tbody><tr>
        <td width="60"><img src="../images/06-Agent-Directory_19.jpg" width="52" height="50"></td>
        <td valign="top"><p class="text-calen-head">ปุญวัจน์ ปุณธนวิรโรจน์</p>
          <p class="text-recom-5"><strong>Home Expert</strong></p>
          <p class="text-recom-5">นายหน้าอิสระ</p>
          <p class="tell_onlist">โทร 0897175153</p></td>
      </tr>
      </tbody></table>
    <table width="200" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0 0 0;">
      <tbody><tr>
        <td width="60"><img src="../images/06-Agent-Directory_19.jpg" width="52" height="50"></td>
        <td valign="top"><p class="text-calen-head">ปุญวัจน์ ปุณธนวิรโรจน์</p>
          <p class="text-recom-5"><strong>Home Expert</strong></p>
          <p class="text-recom-5">นายหน้าอิสระ</p>
          <p class="tell_onlist">โทร 0897175153</p></td>
      </tr>
      </tbody></table>
    <table width="200" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0 0 0;">
      <tbody><tr>
        <td width="60"><img src="../images/06-Agent-Directory_19.jpg" width="52" height="50"></td>
        <td valign="top"><p class="text-calen-head">ปุญวัจน์ ปุณธนวิรโรจน์</p>
          <p class="text-recom-5"><strong>Home Expert</strong></p>
          <p class="text-recom-5">นายหน้าอิสระ</p>
          <p class="tell_onlist">โทร 0897175153</p></td>
      </tr>
      </tbody></table>
    <div class="list-more"> <img src="../images/05-Resources_07.png" width="39" height="11">
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="list-resource">
  <div class="list-resource-bar">
    <p class="list-resource-text">ผู้เชี่ยวชาญด้านคอนโด</p>
  </div>
  <div class="list-re-bar">
    <table width="200" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0 0 0;">
      <tbody><tr>
        <td width="60"><img src="../images/06-Agent-Directory_19.jpg" width="52" height="50"></td>
        <td valign="top"><p class="text-calen-head">ปุญวัจน์ ปุณธนวิรโรจน์</p>
          <p class="text-recom-5"><strong>Home Expert</strong></p>
          <p class="text-recom-5">นายหน้าอิสระ</p>
          <p class="tell_onlist">โทร 0897175153</p></td>
      </tr>
      </tbody></table>
    <table width="200" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0 0 0;">
      <tbody><tr>
        <td width="60"><img src="../images/06-Agent-Directory_19.jpg" width="52" height="50"></td>
        <td valign="top"><p class="text-calen-head">ปุญวัจน์ ปุณธนวิรโรจน์</p>
          <p class="text-recom-5"><strong>Home Expert</strong></p>
          <p class="text-recom-5">นายหน้าอิสระ</p>
          <p class="tell_onlist">โทร 0897175153</p></td>
      </tr>
      </tbody></table>
    <table width="200" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0 0 0;">
      <tbody><tr>
        <td width="60"><img src="../images/06-Agent-Directory_19.jpg" width="52" height="50"></td>
        <td valign="top"><p class="text-calen-head">ปุญวัจน์ ปุณธนวิรโรจน์</p>
          <p class="text-recom-5"><strong>Home Expert</strong></p>
          <p class="text-recom-5">นายหน้าอิสระ</p>
          <p class="tell_onlist">โทร 0897175153</p></td>
      </tr>
      </tbody></table>
    <div class="list-more"> <img src="../images/05-Resources_07.png" width="39" height="11">
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="list-resource">
  <div class="list-resource-bar">
    <p class="list-resource-text">ผู้เชี่ยวชาญด้านคอนโด</p>
  </div>
  <div class="list-re-bar">
    <table width="200" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0 0 0;">
      <tbody><tr>
        <td width="60"><img src="../images/06-Agent-Directory_19.jpg" width="52" height="50"></td>
        <td valign="top"><p class="text-calen-head">ปุญวัจน์ ปุณธนวิรโรจน์</p>
          <p class="text-recom-5"><strong>Home Expert</strong></p>
          <p class="text-recom-5">นายหน้าอิสระ</p>
          <p class="tell_onlist">โทร 0897175153</p></td>
      </tr>
      </tbody></table>
    <table width="200" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0 0 0;">
      <tbody><tr>
        <td width="60"><img src="../images/06-Agent-Directory_19.jpg" width="52" height="50"></td>
        <td valign="top"><p class="text-calen-head">ปุญวัจน์ ปุณธนวิรโรจน์</p>
          <p class="text-recom-5"><strong>Home Expert</strong></p>
          <p class="text-recom-5">นายหน้าอิสระ</p>
          <p class="tell_onlist">โทร 0897175153</p></td>
      </tr>
      </tbody></table>
    <table width="200" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0 0 0;">
      <tbody><tr>
        <td width="60"><img src="../images/06-Agent-Directory_19.jpg" width="52" height="50"></td>
        <td valign="top"><p class="text-calen-head">ปุญวัจน์ ปุณธนวิรโรจน์</p>
          <p class="text-recom-5"><strong>Home Expert</strong></p>
          <p class="text-recom-5">นายหน้าอิสระ</p>
          <p class="tell_onlist">โทร 0897175153</p></td>
      </tr>
      </tbody></table>
    <div class="list-more"> <img src="../images/05-Resources_07.png" width="39" height="11">
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="list-resource">
  <div class="list-resource-bar">
    <p class="list-resource-text">ผู้เชี่ยวชาญด้านคอนโด</p>
  </div>
  <div class="list-re-bar">
    <table width="200" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0 0 0;">
      <tbody><tr>
        <td width="60"><img src="../images/06-Agent-Directory_19.jpg" width="52" height="50"></td>
        <td valign="top"><p class="text-calen-head">ปุญวัจน์ ปุณธนวิรโรจน์</p>
          <p class="text-recom-5"><strong>Home Expert</strong></p>
          <p class="text-recom-5">นายหน้าอิสระ</p>
          <p class="tell_onlist">โทร 0897175153</p></td>
      </tr>
      </tbody></table>
    <table width="200" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0 0 0;">
      <tbody><tr>
        <td width="60"><img src="../images/06-Agent-Directory_19.jpg" width="52" height="50"></td>
        <td valign="top"><p class="text-calen-head">ปุญวัจน์ ปุณธนวิรโรจน์</p>
          <p class="text-recom-5"><strong>Home Expert</strong></p>
          <p class="text-recom-5">นายหน้าอิสระ</p>
          <p class="tell_onlist">โทร 0897175153</p></td>
      </tr>
      </tbody></table>
    <table width="200" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0 0 0;">
      <tbody><tr>
        <td width="60"><img src="../images/06-Agent-Directory_19.jpg" width="52" height="50"></td>
        <td valign="top"><p class="text-calen-head">ปุญวัจน์ ปุณธนวิรโรจน์</p>
          <p class="text-recom-5"><strong>Home Expert</strong></p>
          <p class="text-recom-5">นายหน้าอิสระ</p>
          <p class="tell_onlist">โทร 0897175153</p></td>
      </tr>
      </tbody></table>
    <div class="list-more"> <img src="../images/05-Resources_07.png" width="39" height="11">
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>
