<%= render :partial => 'shared/head', :locals => { :current => 'agent' } %>
<%= render "shared/logo" %>

<div id="all-main-content">
<div id="intro-project-direc-sub">
  <div class="head-intro-direc-sub">
    <div class="head-home">
      <h1>รายละเอียดตัวแทน</h1>
      <div class="navi">
        รายละเอียดตัวแทน &lt; หน้าหลัก
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div id="category">
<div class="category-left" style="margin:-15px 0 0 0;">
  <div class="allteb-agent">
    <div class="category-tab03"><p><a href="#">ข้อมูลเบื้องต้น</a></p></div>
    <div class="category-content">
      <table width="599" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:15px 15px 15px 15px;">
        <tbody><tr>
          <td width="300" valign="top" bgcolor="#e5e5e5" style="padding:15px 5px 15px 5px;"><table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td width="100" valign="top"><img src="../images/agent_profile.png" width="94" height="92"></td>
              <td valign="top">
                <p class="name_profile">Matt O'Sullivan</p>
                <p class="position_profile" style="margin:5px 0 0 0;">Sales Director </p>
                <p class="position_profile" style="margin:0 0 5px 0;">Homes Direct Asia</p>
                <div class="gotoweb">ไปยังเว็บไซต์ผู้ลงโฆษณานี้</div>
              </td>
            </tr>
            </tbody></table></td>
          <td width="15"></td>
          <td valign="top"><table border="0" cellspacing="0" cellpadding="0" style="border: solid 1px #CCC;">
            <tbody><tr>
              <td style="padding:3px;"><img src="../images/logo-en.jpg" width="262" height="63"></td>
            </tr>
            </tbody></table>
            <p class="position_profile" style="float:right; margin:5px 2px 0 0;">โทร: <span class="position_profile2">0811429011</span> หรือ <span class="position_profile2">0890160077</span></p>
            <img src="../images/contact.png" width="83" height="25" style="float:right; margin:5px 2px 0 0;"></td>
        </tr>
        </tbody></table>
    </div>
  </div>
  <div class="clear"></div>
  <div class="allteb-agent" style="margin:15px 0 0 0;">
    <div class="agenbar1"><p><a href="#">ตัวแทน ข้อมูล</a></p></div>
    <div style="width:1px; height:27px; float:left;"></div>
    <div class="agenbar2"><p><a href="#">ประกาศขาย/ให้เช่า</a></p></div>
    <div class="category-content">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td style="padding:15px;">
            <p class="name_profile">คำแนะนำเบื้องต้น</p>
            <div class="list-content-agent">
              <ul>
                <li>Providing buyers and investors an informative guide to new condo and house projects from a variety of  property developers.</li>
                <li>HomesDirect Asia is a property agency with a difference. We only focus on new condo and house projects  from trusted developers. </li>
                <li>Unlike other agencies, who also offer resales and rentals, we believe the best investment returns are in new property projects where you can purchase at good rates off-plan or during construction.</li>
                <li>Unlike other agencies, who also offer resales and rentals, we believe the best investment returns are in new
                  property projects where you can purchase at good rates off-plan or during construction. </li>
                <li>We have established excellent relationships with developers who prefer a dedicated website to new projects. </li>
              </ul>
            </div>
          </td>
        </tr>
        </tbody></table>
    </div>
  </div>
  <div class="clear"></div>
  <div class="allteb-agent" style="margin:15px 0 0 0;">
    <div class="category-tab03"><p><a href="#">ติดต่อเจ้าของประกาศ</a></p></div>
    <div class="category-content">
      <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="text-content-agent" style="padding:15px;">
        <tbody><tr>
          <td width="237" align="right" valign="top">ฉันต้องการให้ตัวแทนติดต่อกลับ, เนื่องจาก</td>
          <td width="15" valign="top">&nbsp;</td>
          <td height="25" valign="top"><select name="select6" id="select6" class="textbox-egent">
          </select></td>
        </tr>
        <tr>
          <td align="right" valign="top"></td>
          <td valign="top"></td>
          <td height="5" valign="top"></td>
        </tr>
        <tr>
          <td align="right" valign="top">ฉันมีแผนที่จะทำเช่นนี้</td>
          <td valign="top">&nbsp;</td>
          <td height="25" valign="top"><select name="select7" id="select7" class="textbox-egent">
          </select></td>
        </tr>
        <tr>
          <td align="right" valign="top"></td>
          <td valign="top"></td>
          <td height="5" valign="top"></td>
        </tr>
        <tr>
          <td align="right" valign="top">คำนำหน้า</td>
          <td valign="top">&nbsp;</td>
          <td height="25" valign="top"><select name="select8" id="select8" class="textbox-egent">
          </select></td>
        </tr>
        <tr>
          <td align="right" valign="top"></td>
          <td valign="top"></td>
          <td height="5" valign="top"></td>
        </tr>
        <tr>
          <td align="right" valign="top">ชื่อ - นามสกุล</td>
          <td valign="top">&nbsp;</td>
          <td height="25" valign="top"><input name="textfield6" type="text" class="textbox-search" id="textfield6"></td>
        </tr>
        <tr>
          <td align="right" valign="top"></td>
          <td valign="top"></td>
          <td height="5" valign="top"></td>
        </tr>
        <tr>
          <td align="right" valign="top">เบอร์โทรศัพท์ของฉัน
            (ต้องการการติดต่อกลับ)</td>
          <td valign="top">&nbsp;</td>
          <td height="25" valign="top"><input name="textfield7" type="text" class="textbox-search" id="textfield7"></td>
        </tr>
        <tr>
          <td align="right" valign="top"></td>
          <td valign="top"></td>
          <td height="5" valign="top"></td>
        </tr>
        <tr>
          <td align="right" valign="top">อีเมลของฉัน</td>
          <td valign="top">&nbsp;</td>
          <td height="25" valign="top"><input name="textfield8" type="text" class="textbox-search" id="textfield8"></td>
        </tr>
        <tr>
          <td align="right" valign="top"></td>
          <td valign="top"></td>
          <td height="5" valign="top"></td>
        </tr>
        <tr>
          <td align="right" valign="top">ฉันมีคำถามเพิ่มเติม</td>
          <td valign="top">&nbsp;</td>
          <td height="25" valign="top"><textarea name="textfield9" rows="6" class="textbox-search" id="textfield9"></textarea></td>
        </tr>
        </tbody></table>
      <table width="570" border="0" align="center" cellpadding="0" cellspacing="0" class="text-content-agent">
        <tbody><tr>
          <td width="30" valign="top"><input type="checkbox" name="checkbox" id="checkbox"></td>
          <td valign="top">กรุณาแจ้งฉันเมื่อมีการอัพเดตข้อเสนอจากพาร์ทเนอร์ทางจดหมายข่าวรายเดือน<br></td>
        </tr>
        <tr>
          <td valign="top"><input type="checkbox" name="checkbox2" id="checkbox2"></td>
          <td valign="top">สมัครสมาชิกเพื่อรับข่าวสารที่ให้บริการ รับข่าวสารรายวัน, ทุกวันจันทร์-วันศุกร์ เวลา 14.00 น.</td>
        </tr>
        </tbody></table>
      <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="text-content-agent" style="padding:15px;">
        <tbody><tr>
          <td width="237" align="right" valign="top"></td>
          <td width="15" valign="top"></td>
          <td height="5" valign="top"></td>
        </tr>
        <tr>
          <td align="right" valign="top">&nbsp;</td>
          <td valign="top">&nbsp;</td>
          <td height="40" valign="middle"><img src="../images/Contact-99_11.png" width="83" height="25"> <img src="../images/Contact-99_13.png" width="84" height="25"></td>
        </tr>
        </tbody></table>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="category-right" style="margin:-15px 0 0 0;">
  <img src="../images/web-banner02.jpg" width="300" height="127" style="margin:0 0 15px 0;">
  <div class="general-search">
    <div class="general-bar">
      <p>รายการประกาศขายและให้เช่า</p>
    </div>
    <div class="clear"></div>
    <table width="270" border="0" align="center" cellpadding="0" cellspacing="0" style="padding:10px 0 0 0;">
      <tbody><tr>
        <td valign="top" style="padding:5px 0 0 0;"><img src="../images/pic-general-2.jpg" width="146" height="66"></td>
        <td width="30" align="center" valign="top" style="padding:5px 0 0 0;"><img src="../images/map-direc.png" width="10" height="14"></td>
        <td width="100" align="left" valign="top"><span class="text-recom-1">ขาย - ขายอาคารพาณิชย์ 4 ห้อง</span> <span class="text-recom-2">ตึกแถว/อาคารพาณิชย์ (ขายขาด)
						</span></td>
      </tr>
      </tbody></table>
    <table width="270" border="0" align="center" cellpadding="0" cellspacing="0" style="padding:10px 0 0 0;">
      <tbody><tr>
        <td valign="top" style="padding:5px 0 0 0;"><img src="../images/pic-general-2.jpg" width="146" height="66"></td>
        <td width="30" align="center" valign="top" style="padding:5px 0 0 0;"><img src="../images/map-direc.png" width="10" height="14"></td>
        <td width="100" align="left" valign="top"><span class="text-recom-1">ขาย - ขายอาคารพาณิชย์ 4 ห้อง</span> <span class="text-recom-2">ตึกแถว/อาคารพาณิชย์ (ขายขาด) </span></td>
      </tr>
      </tbody></table>
    <table width="270" border="0" align="center" cellpadding="0" cellspacing="0" style="padding:10px 0 0 0;">
      <tbody><tr>
        <td valign="top" style="padding:5px 0 0 0;"><img src="../images/pic-general-2.jpg" width="146" height="66"></td>
        <td width="30" align="center" valign="top" style="padding:5px 0 0 0;"><img src="../images/map-direc.png" width="10" height="14"></td>
        <td width="100" align="left" valign="top"><span class="text-recom-1">ขาย - ขายอาคารพาณิชย์ 4 ห้อง</span> <span class="text-recom-2">ตึกแถว/อาคารพาณิชย์ (ขายขาด) </span></td>
      </tr>
      </tbody></table>
    <table width="270" border="0" align="center" cellpadding="0" cellspacing="0" style="padding:10px 0 0 0;">
      <tbody><tr>
        <td valign="top" style="padding:5px 0 0 0;"><img src="../images/pic-general-2.jpg" width="146" height="66"></td>
        <td width="30" align="center" valign="top" style="padding:5px 0 0 0;"><img src="../images/map-direc.png" width="10" height="14"></td>
        <td width="100" align="left" valign="top"><span class="text-recom-1">ขาย - ขายอาคารพาณิชย์ 4 ห้อง</span> <span class="text-recom-2">ตึกแถว/อาคารพาณิชย์ (ขายขาด) </span></td>
      </tr>
      </tbody></table>
    <table width="270" border="0" align="center" cellpadding="0" cellspacing="0" style="padding:10px 0 0 0;">
      <tbody><tr>
        <td valign="top" style="padding:5px 0 0 0;"><img src="../images/pic-general-2.jpg" width="146" height="66"></td>
        <td width="30" align="center" valign="top" style="padding:5px 0 0 0;"><img src="../images/map-direc.png" width="10" height="14"></td>
        <td width="100" align="left" valign="top"><span class="text-recom-1">ขาย - ขายอาคารพาณิชย์ 4 ห้อง</span> <span class="text-recom-2">ตึกแถว/อาคารพาณิชย์ (ขายขาด) </span></td>
      </tr>
      </tbody></table>
    <table width="270" border="0" align="center" cellpadding="0" cellspacing="0" style="padding:10px 0 0 0;">
      <tbody><tr>
        <td valign="top" style="padding:5px 0 0 0;"><img src="../images/pic-general-2.jpg" width="146" height="66"></td>
        <td width="30" align="center" valign="top" style="padding:5px 0 0 0;"><img src="../images/map-direc.png" width="10" height="14"></td>
        <td width="100" align="left" valign="top"><span class="text-recom-1">ขาย - ขายอาคารพาณิชย์ 4 ห้อง</span> <span class="text-recom-2">ตึกแถว/อาคารพาณิชย์ (ขายขาด) </span></td>
      </tr>
      </tbody></table>
    <table width="270" border="0" align="center" cellpadding="0" cellspacing="0" style="padding:10px 0 0 0;">
      <tbody><tr>
        <td valign="top" style="padding:5px 0 0 0;"><img src="../images/pic-general-2.jpg" width="146" height="66"></td>
        <td width="30" align="center" valign="top" style="padding:5px 0 0 0;"><img src="../images/map-direc.png" width="10" height="14"></td>
        <td width="100" align="left" valign="top"><span class="text-recom-1">ขาย - ขายอาคารพาณิชย์ 4 ห้อง</span> <span class="text-recom-2">ตึกแถว/อาคารพาณิชย์ (ขายขาด) </span></td>
      </tr>
      </tbody></table>
    <div class="clear"></div>
    <br>
    <br>

  </div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>