sum
<div class="form-actions">
  <%= f.submit t('buttons.finish'), :class => "btn btn-success", :name => "save_button" %>
  <%= f.submit t('buttons.cancel'), :class => "btn btn-danger", :name => "back_button" %>
  <%= f.submit t('buttons.renew'), :class => "btn btn-primary", :name => "renew_button" %>
</div>