<div class="alert alert-block">
  ประกาศมีอายุ 60
  วันนับจากวันลงประกาศหรือวันที่ต่ออายุล่าสุด โดยระบบจะแจ้งเตือนทางอีเมลก่อนประกาศหมดอายุ<br>ระบบอนุญาตให้ต่ออายุหรือเลื่อนประกาศได้สัปดาห์ละ
  1 ครั้ง
</div>
<div class="clearboth"></div>