// Place all the styles related to the condo_directory controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map-icon {
  width: 10px;
  height: 14px;
  margin:3px 0 0 0;
}

.more-button {
  width: 39px;
  height: 11px;
}

.line-direct{
  width: 1px;
  height: 90px;
}

.pic-general-2{
  width: 146px;
  height: 66px;
}
