<ul class="processnav">

  <li class="selectedtab"><a href="<%=  %>"><span class="num">1</span> ข้อมูลทั่วไป</a></li>
  <li class="selectedtab"><a href="/ex_edit_listing/592007/detail?process=506b73b82ea0b"><span class="num">2</span> รายละเอียดเพิ่มเติม</a></li>
  <li class="tab"><a href="/ex_edit_listing/592007/media?process=506b73b82ea0b"><span class="num">3</span> รูปภาพ/วีดีโอ</a></li>
  <li class="last tab"><a href="/ex_edit_listing/592007/summary?process=506b73b82ea0b"><span class="num">4</span> สรุป</a></li>

</ul>